---
import Page from "../../layouts/GabaritPrincipal.astro";

const succesInscription = Astro.url.searchParams.has("succesInscription");
const succesConnexion = Astro.url.searchParams.has("succesConnexion");
const usager = Astro.locals["usager"];

if (!usager) {
	return Astro.redirect("/compte/connexion");
}
---

<Page titre="Mon compte">
	{
		succesInscription &&
		<div class="alert alert-success mb-4" role="alert">
			Votre compte a été créé avec succès.
		</div>
	}
	{
		succesConnexion &&
		<div class="alert alert-success mb-4" role="alert">
			Connexion effectuée avec succès.
		</div>
	}

	<h3>Bienvenue, {usager?.nomAffichage}</h3>
	<div class="mt-4">
		<a class="btn btn-primary" href="/compte/deconnexion">Se déconnecter</a>
	</div>
</Page>
