---
import Page from "../../layouts/GabaritPrincipal.astro";

const usager = Astro.locals["usager"];
---

<Page titre="Session">
	{
		usager &&
		<p>
			Usager connecté:
			<pre>
				Prénom: {usager.prenom}
				Nom: {usager.nom}
			</pre>
		</p>
	}
	{
		!usager &&
		<p>
			(non connecté)
		</p>
	}

	<a href="/exemple-session/nouv">[Nouvelle session]</a>
	<a href="/exemple-session/deconnexion">[Déconnexion]</a>
</Page>
