---
import Page from "../../layouts/GabaritPrincipal.astro";

const session = Astro.locals["session"];

// OPTIONNEL: obtenir les détails de l'usagé associé à la session:
await session?.populate("usager");
---

<Page titre="Session">
	<p>
		Contenu de la session:
		<pre>{JSON.stringify(session)}</pre>
	</p>

	<a href="/exemple-session/nouv">[Nouvelle session]</a>
	<a href="/exemple-session/deconnexion">[Déconnexion]</a>
</Page>
